<div class="container">
    <div class="header">
        <h1>Ivan Ravn</h1>
        <p>Kontaktinformation</p>
    </div>
    <div class="card-container">
        <div class="card">
            <i class="fas fa-envelope"></i>
            <!-- <p><span>Email:</span> <a href="mailto:ivanravn@ivanravn.com"> ivanravn&#64;ivanravn.com</a></p> -->
            <div class="card-text">
                <h2>Send mig en email</h2>
                <p>ejfiwjf jiwoejfwifjwi jwoif</p>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-phone"></i>
            <!-- <p><span>Telefon:</span> 42 36 01 78</p> -->
            <div class="card-text"> 
                <h2>Giv mig et kald</h2>
                <p>jifewjf ijfwioefjoiwef</p>
            </div>
        </div>
    </div>
</div>