<div class="container">
    <div class="header">
        <h1>Ivan Ravn</h1>
        <p>Kontaktinformation</p>
    </div>
    <div class="card-container">
        <div class="card" (click)="sendMail()">
            <i class="fas fa-envelope"></i>
            <div class="card-text">
                <h2>Send mig en email</h2>
                <div class="contact-detail">ivanravn&#64;ivanravn.com</div>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-phone"></i>
            <div class="card-text">
                <h2>Ring til mig</h2>
                <div class="contact-detail">42 36 01 78</div>
            </div>
        </div>
    </div>
</div>