<div class="container">
    <div class="header">
        <h1>Ivan Ravn</h1>
        <p>om mig</p>
        <div *ngIf="artist">
            <img [src]="imageUrl">
        </div>
    </div>
    <div class="text-container">
        <h3 class="title" appInView>om ivan</h3>
        <p class="text" appInView>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
            incididunt ut labore
            et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Quis hendrerit dolor magna eget
            est lorem ipsum dolor sit amet consectetur. Amet nisl purus in mollis nunc sed id semper risus. Nisl purus
            in mollis nunc sed id semper risus in hendrerit gravida. Quis commodo odio aenean sed adipiscing diam donec
            adipiscing tristique risus.
            Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Facilisis volutpat est velit egestas dui id
            ornare arcu odio. At auctor urna nunc id cursus metus aliquam eleifend mi. Nulla aliquet porttitor lacus
            luctus accumsan tortor posuere ac ut. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit.
        </p>
        <p class="text" appInView>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Quis hendrerit dolor magna eget
            est lorem ipsum dolor sit amet consectetur. Amet nisl purus in mollis nunc sed id semper risus. Nisl purus
            in mollis nunc sed id semper risus in hendrerit gravida. Quis commodo odio aenean sed adipiscing diam donec
            adipiscing tristique risus.
            Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Facilisis volutpat est velit egestas dui id
            ornare arcu odio. At auctor urna nunc id cursus metus aliquam eleifend mi. Nulla aliquet porttitor lacus
            luctus accumsan tortor posuere ac ut. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit.
        </p>
        <p class="text" appInView>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Quis hendrerit dolor magna eget
            est lorem ipsum dolor sit amet consectetur. Amet nisl purus in mollis nunc sed id semper risus. Nisl purus
            in mollis nunc sed id semper risus in hendrerit gravida. Quis commodo odio aenean sed adipiscing diam donec
            adipiscing tristique risus.
            Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Facilisis volutpat est velit egestas dui id
            ornare arcu odio. At auctor urna nunc id cursus metus aliquam eleifend mi. Nulla aliquet porttitor lacus
            luctus accumsan tortor posuere ac ut. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit.
        </p>
        <p class="text" appInView>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Quis hendrerit dolor magna eget
            est lorem ipsum dolor sit amet consectetur. Amet nisl purus in mollis nunc sed id semper risus. Nisl purus
            in mollis nunc sed id semper risus in hendrerit gravida. Quis commodo odio aenean sed adipiscing diam donec
            adipiscing tristique risus.
            Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Facilisis volutpat est velit egestas dui id
            ornare arcu odio. At auctor urna nunc id cursus metus aliquam eleifend mi. Nulla aliquet porttitor lacus
            luctus accumsan tortor posuere ac ut. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit.
        </p>
    </div>
</div>

<app-footer></app-footer>