.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #000000ef, #ffffff00);
    width: 100vw;
    z-index: 99;
}

.header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar img {
    width: 5rem;
    padding: 0;
    margin: 0;
}

.navbar h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    text-align: center;
    list-style: none;
    font-weight: 400;
    font-size: 1.1rem;
    gap: 2rem;
    justify-content: center;
}

.navbar li:hover {
    cursor: pointer;
}