.container {
    display: flex;
    max-width: 100vw;
    margin-top: 10rem;
    padding-left: 5rem;
}

.track-window {
    height: 70vh;
    width: 45vw;
    overflow-y: auto;
    border-right: 1px solid var(--grey-border);
    scrollbar-color: var(--grey-border) transparent;
}

.track-window::-webkit-scrollbar,
.description-window::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.track-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.track-row {
    cursor: pointer;
    border-left: 2px solid transparent;
    transition: border-color 0.2s ease;
}

.track-row:hover {
    background-color: var(--background);
    border-radius: 10px;
}

.track-row.selected {
    background-color: var(--background);
    border-left-color: var(--white);
}

.index {
    width: 5rem;
    text-align: center;
    font-weight: 300;
    opacity: 60%;
}

.track-name {
    padding-left: 2rem;
}

.title-cell {
    display: flex;
    align-items: center
}

.album-art {
    width: 4rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.duration {
    font-weight: 400;
    opacity: 60%;
    padding: 0;
    margin: 0;
}

.description-window {
    height: 70vh;
    width: 45vw;
    padding-left: 3rem;
    overflow-y: auto;
    scrollbar-color: var(--grey-border) transparent;
}

.description-window h1 {
    padding: 3rem;
    text-align: center;
    border-bottom: 1px solid var(--grey-border);
    font-size: 3rem;
    margin-right: 3rem;
}

.description-window p {
    white-space: pre-wrap;
    line-height: 1.9;
    font-weight: 500;
    font-size: 1.05rem;
    margin-right: 3rem;
    letter-spacing: 0.5;
}