.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    z-index: -1;
}

.container h1 {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-weight: 800;
    font-size: 7rem;
    animation: 1s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%) translateX(-50%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%) translateX(-50%);
        opacity: 1;
    }
}