.albums-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: 7rem 0;
}

.album {
    position: relative;
    background-color: #111;
    border-radius: 10px;
    border: 1px solid #444;
    overflow: hidden;
}

.album-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.track-list {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.track-name {
    font-size: 1rem;
    margin: 0.6rem 2rem;
    padding-left: 0.6rem;
    opacity: 85%;
    font-weight: 400;
    border-left: 3px solid #fff;
    max-width: 14rem;
    white-space: nowrap;
}

.release-date {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 50%;
}